<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- AGREGATOR VA LITE -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.onecheckoutV1.servlet.SchedulerRBSListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AgregatorLiteInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AgregatorLiteInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregatorLitePayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AgregatorLitePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregatorLiteReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AgregatorLiteReversal</servlet-class>
    </servlet>
    <!-- BRI -->
    <servlet>
        <servlet-name>BRIPayVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.BRIPayVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BRIPayNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.BRIPayNotify</servlet-class>
    </servlet>
    <!-- Credit Card -->
    <servlet>
        <servlet-name>CCReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CCReversal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CCVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CCNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCVoid</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CCVoid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatus</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CheckStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CyberSource</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CyberSource</servlet-class>
    </servlet>
    <!-- Dokupay -->
    <servlet>
        <servlet-name>DokupayVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DokupayVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DokupayNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DokupayNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EDSGarudaGetData</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.EDSGarudaGetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EDSGetData</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.EDSGetData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EDSUpdateStatus</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.EDSUpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoBack</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.GoBack</servlet-class>
    </servlet>
    <!-- Klik BCA -->
    <servlet>
        <servlet-name>KlikBCAInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.KlikBCAInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlikBCAInvoke</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.KlikBCAInvoke</servlet-class>
    </servlet>
    <!-- BSP -->
    <servlet>
        <servlet-name>MPGVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MPGVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MPGNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MPGNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MPGVoid</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MPGVoid</servlet-class>
    </servlet>
    <!-- Mandiri Click Pay -->
    <servlet>
        <servlet-name>MandiriClickPayNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MandiriClickPayNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MandiriClickPayVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MandiriClickPayVerify</servlet-class>
    </servlet>
    <!-- Mandiri SOA FULL -->
    <servlet>
        <servlet-name>MandiriSOAFullInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MandiriSOAFullInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MandiriSOAFullPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MandiriSOAFullPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MandiriSOAFullReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MandiriSOAFullReversal</servlet-class>
    </servlet>
    <!-- PAYPAL -->
    <servlet>
        <servlet-name>PayPalNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PayPalNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayPalVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PayPalVerify</servlet-class>
    </servlet>
    <!-- PERMATA VA FULL -->
    <servlet>
        <servlet-name>PermataVAFullInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PermataVAFullInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermataVAFullPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PermataVAFullPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermataVAFullReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PermataVAFullReversal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Receive</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.Receive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveMIP</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.ReceiveMIP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThankYou</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.ThankYou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToDayKlikBCA</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.ToDayKlikBCA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoidRequest</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.VoidRequest</servlet-class>
    </servlet>
    <!-- AGREGATOR VA LITE -->
    <servlet>
        <servlet-name>NotifyMerchantScheduler</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.NotifyMerchantScheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectMerchantScheduler</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.RedirectMerchantScheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlikBCAInquiryMOBGA</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.KlikBCAInquiryMOBGA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthACS</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AuthACS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountBilling</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AccountBilling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.TokenNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.TokenReversal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenVerify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.TokenVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenVoid</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.TokenVoid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecurUpdateCard</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.RecurUpdateCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentPage</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.PaymentPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentPageShow</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.PaymentPageShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPaymentCIP</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessPaymentCIP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveTemp</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.ReceiveTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process3DSPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.Process3DSPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurRegistration</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurRegistrationProcess</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurRegistrationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurThreeDSecure</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurThreeDSecure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurThreeDSecureProcess</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurThreeDSecureProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurUpdateCardData</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurUpdateCardData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRecurUpdateCardProcess</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRecurUpdateCardProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTokenPaymentRequest</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoTokenPaymentRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTokenPaymentRequestProcess</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoTokenPaymentRequestProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTokenPaymentThreeDSecureProcess</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoTokenPaymentThreeDSecureProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTokenPaymentThreeDSecure</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoTokenPaymentThreeDSecure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoTokenUpdateCard</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoTokenUpdateCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MIBNotify</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.MIBNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PTPPOSInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PTPPOSInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PTPPOSPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.PTPPOSPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinarMasInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.SinarMasInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinarMasPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.SinarMasPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinarMasReversal</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.SinarMasReversal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulerRBSListener</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.SchedulerRBSListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRates</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.GetRates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DokuWalletDetail</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.DokuWalletDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoEmailPageShow</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.CustomerInfoEmailPageShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckingPurchaseRates</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CheckingPurchaseRates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DWReg</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DWReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptureRequest</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.CaptureRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessInstallmentPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessInstallmentPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthAcquirer</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.AuthAcquirer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAcqPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessAcqPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionOcoScheduler</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.TransactionOcoScheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BCAVAFullInquiry</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.BCAVAFullInquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BCAVAFullPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.BCAVAFullPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessInstallmentAndRewardsPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessInstallmentAndRewardsPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRewardsPayment</servlet-name>
        <servlet-class>com.onecheckoutV1.ui.ProcessRewardsPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRefundRequest</servlet-name>
        <servlet-class>com.onecheckoutV1.servlet.DoRefundRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregatorLiteInquiry</servlet-name>
        <url-pattern>/AgregatorLiteInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregatorLitePayment</servlet-name>
        <url-pattern>/AgregatorLitePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregatorLiteReversal</servlet-name>
        <url-pattern>/AgregatorLiteReversal</url-pattern>
    </servlet-mapping>
    <!-- BRI -->
    <servlet-mapping>
        <servlet-name>BRIPayVerify</servlet-name>
        <url-pattern>/BRIPayVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BRIPayNotify</servlet-name>
        <url-pattern>/BRIPayNotify</url-pattern>
    </servlet-mapping>
    <!-- Credit Card -->
    <servlet-mapping>
        <servlet-name>CCNotify</servlet-name>
        <url-pattern>/CCNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCReversal</servlet-name>
        <url-pattern>/CCReversal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCVerify</servlet-name>
        <url-pattern>/CCVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCVoid</servlet-name>
        <url-pattern>/CCVoid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatus</servlet-name>
        <url-pattern>/CheckStatus</url-pattern>
    </servlet-mapping>
    <!-- Dokupay -->
    <servlet-mapping>
        <servlet-name>DokupayVerify</servlet-name>
        <url-pattern>/DokupayVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DokupayNotify</servlet-name>
        <url-pattern>/DokupayNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EDSGarudaGetData</servlet-name>
        <url-pattern>/EDSGarudaGetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EDSGetData</servlet-name>
        <url-pattern>/EDSGetData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EDSUpdateStatus</servlet-name>
        <url-pattern>/EDSUpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoBack</servlet-name>
        <url-pattern>/GoBack</url-pattern>
    </servlet-mapping>
    <!-- Klik BCA -->
    <servlet-mapping>
        <servlet-name>KlikBCAInquiry</servlet-name>
        <url-pattern>/KlikBCAInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlikBCAInvoke</servlet-name>
        <url-pattern>/KlikBCAInvoke</url-pattern>
    </servlet-mapping>
    <!-- BSP -->
    <servlet-mapping>
        <servlet-name>MPGNotify</servlet-name>
        <url-pattern>/MPGNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MPGVerify</servlet-name>
        <url-pattern>/MPGVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MPGVoid</servlet-name>
        <url-pattern>/MPGVoid</url-pattern>
    </servlet-mapping>
    <!-- Mandiri Click Pay -->
    <servlet-mapping>
        <servlet-name>MandiriClickPayNotify</servlet-name>
        <url-pattern>/MandiriClickPayNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MandiriClickPayVerify</servlet-name>
        <url-pattern>/MandiriClickPayVerify</url-pattern>
    </servlet-mapping>
    <!-- PAYPAL -->
    <servlet-mapping>
        <servlet-name>PayPalNotify</servlet-name>
        <url-pattern>/PayPalNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayPalVerify</servlet-name>
        <url-pattern>/PayPalVerify</url-pattern>
    </servlet-mapping>
    <!-- PERMATA VA FULL -->
    <servlet-mapping>
        <servlet-name>PermataVAFullInquiry</servlet-name>
        <url-pattern>/PermataVAFullInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermataVAFullPayment</servlet-name>
        <url-pattern>/PermataVAFullPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermataVAFullReversal</servlet-name>
        <url-pattern>/PermataVAFullReversal</url-pattern>
    </servlet-mapping>
    <!-- MANDIRI SOA FULL -->
    <servlet-mapping>
        <servlet-name>MandiriSOAFullInquiry</servlet-name>
        <url-pattern>/MandiriSOAFullInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MandiriSOAFullPayment</servlet-name>
        <url-pattern>/MandiriSOAFullPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MandiriSOAFullReversal</servlet-name>
        <url-pattern>/MandiriSOAFullReversal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Receive</servlet-name>
        <url-pattern>/Receive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveMIP</servlet-name>
        <url-pattern>/ReceiveMIP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThankYou</servlet-name>
        <url-pattern>/ThankYou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToDayKlikBCA</servlet-name>
        <url-pattern>/ToDayKlikBCA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoidRequest</servlet-name>
        <url-pattern>/VoidRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyMerchantScheduler</servlet-name>
        <url-pattern>/NotifyMerchantScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectMerchantScheduler</servlet-name>
        <url-pattern>/RedirectMerchantScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlikBCAInquiryMOBGA</servlet-name>
        <url-pattern>/KlikBCAInquiryMOBGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthACS</servlet-name>
        <url-pattern>/AuthACS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountBilling</servlet-name>
        <url-pattern>/AccountBilling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenNotify</servlet-name>
        <url-pattern>/TokenNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenReversal</servlet-name>
        <url-pattern>/TokenReversal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenVerify</servlet-name>
        <url-pattern>/TokenVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TokenVoid</servlet-name>
        <url-pattern>/TokenVoid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecurUpdateCard</servlet-name>
        <url-pattern>/RecurUpdateCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentPage</servlet-name>
        <url-pattern>/PaymentPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentPageShow</servlet-name>
        <url-pattern>/PaymentPageShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPaymentCIP</servlet-name>
        <url-pattern>/ProcessPaymentCIP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessPayment</servlet-name>
        <url-pattern>/ProcessPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveTemp</servlet-name>
        <url-pattern>/ReceiveTemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process3DSPayment</servlet-name>
        <url-pattern>/Process3DSPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurRegistration</servlet-name>
        <url-pattern>/DoRecurRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurRegistrationProcess</servlet-name>
        <url-pattern>/DoRecurRegistrationProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurThreeDSecure</servlet-name>
        <url-pattern>/DoRecurThreeDSecure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurThreeDSecureProcess</servlet-name>
        <url-pattern>/DoRecurThreeDSecureProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurUpdateCardData</servlet-name>
        <url-pattern>/DoRecurUpdateCardData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRecurUpdateCardProcess</servlet-name>
        <url-pattern>/DoRecurUpdateCardProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTokenPaymentRequest</servlet-name>
        <url-pattern>/DoTokenPaymentRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTokenPaymentRequestProcess</servlet-name>
        <url-pattern>/DoTokenPaymentRequestProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTokenPaymentThreeDSecureProcess</servlet-name>
        <url-pattern>/DoTokenPaymentThreeDSecureProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTokenPaymentThreeDSecure</servlet-name>
        <url-pattern>/DoTokenPaymentThreeDSecure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoTokenUpdateCard</servlet-name>
        <url-pattern>/DoTokenUpdateCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MIBNotify</servlet-name>
        <url-pattern>/MIBNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PTPPOSInquiry</servlet-name>
        <url-pattern>/PTPPOSInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PTPPOSPayment</servlet-name>
        <url-pattern>/PTPPOSPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinarMasInquiry</servlet-name>
        <url-pattern>/SinarMasInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinarMasPayment</servlet-name>
        <url-pattern>/SinarMasPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinarMasReversal</servlet-name>
        <url-pattern>/SinarMasReversal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulerRBSListener</servlet-name>
        <url-pattern>/SchedulerRBSListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRates</servlet-name>
        <url-pattern>/GetRates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DokuWalletDetail</servlet-name>
        <url-pattern>/DokuWalletDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoEmailPageShow</servlet-name>
        <url-pattern>/CustomerInfoEmailPageShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckingPurchaseRates</servlet-name>
        <url-pattern>/CheckingPurchaseRates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DWReg</servlet-name>
        <url-pattern>/DWReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptureRequest</servlet-name>
        <url-pattern>/CaptureRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInstallmentPayment</servlet-name>
        <url-pattern>/ProcessInstallmentPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthAcquirer</servlet-name>
        <url-pattern>/AuthAcquirer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAcqPayment</servlet-name>
        <url-pattern>/ProcessAcqPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionOcoScheduler</servlet-name>
        <url-pattern>/TransactionOcoScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BCAVAFullInquiry</servlet-name>
        <url-pattern>/MVABCAInquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BCAVAFullPayment</servlet-name>
        <url-pattern>/MVABCAPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInstallmentAndRewardsPayment</servlet-name>
        <url-pattern>/ProcessInstallmentAndRewardsPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRewardsPayment</servlet-name>
        <url-pattern>/ProcessRewardsPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRefundRequest</servlet-name>
        <url-pattern>/DoRefundRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <distributable/>
</web-app>
